<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Employee Login</title>
</head>
<body>
    <div class="background">
        <img src="" alt="">
        <div class="back">
            <img src="/static/images/icon.png" alt="" class="icon">
            <img src="/static/images/right.png" alt="" class="right">
            <img src="/static/images/mid.png" alt="" class="middle">
            <img src="/static/images/robot.png" alt="" class="robot">
            <h1 class="register">Login</h1>
            <form action="#" method="POST">
                {% csrf_token %}
                {%if messages%}
                {%for message in messages%}
                <p style = 'color: firebrick'>{{message}}</p>
                {%endfor%}
                {%endif%}
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="text" name="password" id="password" placeholder="Password">
                <button class="signup">Login</button>
                <div class"down"><p>Don't have an account? <a href="{% url 'register' %}">Register now</a></p></div>
            </form>


        </div>
    </div>
    
</body>
</html>